@charset

body{
    font: 13px Arial, sans-serif;
    color:#333;
}

.main{
    display: inline;
    height: 75%;
    width: 75%;
<<<<<<< Updated upstream
<<<<<<< Updated upstream
}

=======
}
>>>>>>> Stashed changes
=======
}
>>>>>>> Stashed changes
